.footer{
  background-image: linear-gradient(to  top, #051f4e, #230a3a 200%);
  align-items: center;
  justify-content: center;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

}

.contact{
  padding-left: 20px;
  font-size: 25px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contact>p{
  padding-top: 12px;
  padding-left: 10px;
  color: white;
  font-size: 12px;
}
