<div class="row my-resume">
  <div class="row">
   <div class="resume">
    <div class="title">
      <h1>Hard Skills:</h1>
    </div>
    <div class="skills-container">
      <div class="skills-column">
        <div class="content">Java</div>
        <div class="content">Spring Boot</div>
        <div class="content">Spring Web</div>
        <div class="content">Spring Security</div>
        <div class="content">Angular</div>
      </div>
      <div class="skills-column">
        <div class="content">SQL</div>
        <div class="content">GIT</div>
        <div class="content">HTML</div>
        <div class="content">CSS</div>
        <div class="content">TypeScript</div>
      </div>
    </div>
   </div>
</div>
</div>
