<div class="row my-resume">
  <div class="row">
   <div class="resume">
    <div class="title">
      <h1>Soft Skills:</h1>
    </div>
    <div class="skills-container">
      <div class="skills-column">
        <div class="content">Teamwork</div>
        <div class="content">Adaptability</div>
        <div class="content">Communication</div>
        <div class="content">Problem solving</div>
        <div class="content">Time management</div>
      </div>
      <div class="skills-column">
        <div class="content">Critical thinking</div>
        <div class="content">Creativity</div>
        <div class="content">Self-motivation</div>
        <div class="content">Continuous learning </div>
        <div class="content">Attention to detail </div>
      </div>
    </div>
   </div>
</div>
</div>
