<div class="row my-resume">
  <div class="row">
   <div class="resume">
    <p>Hello! My name is Júlio César, I am 22 years old and I am from Recife, Brazil. I work as a Full Stack developer, working with Java, Angular and Spring Boot technologies. I currently work as a Junior Systems Assistant at Masterboi, where I actively participate in the development and maintenance of technological solutions.I am driven by a passion for technology and innovation, always seeking to improve processes and create solutions that generate a real impact on the daily lives of people and organizations. I believe that technology, when well applied, is a powerful tool for transformation.</p>
   </div>
</div>
</div>
