<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 welcome">
      <div class="profile">
        <h1>Hi, I am Júlio César</h1>
        <h2>FullStack Developer</h2>
        <p>This is an online version of my portfolio. I've crafted this page with attention to both content and responsive design, ensuring it works seamlessly across all devices.</p>
      </div>
      <div class="action-container">
        <button mat-button class="button" (click)="scrollToWhatIDo()">More about me</button>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/juliocbmss/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/juliocbms" target="_blank" aria-label="GitHub">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.instagram.com/juliocbms/" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 photo">
      <div class="imagem">
        <div class="circle-image">
        <img src="assets/imagens/1712508574517.jpg" alt="Júlio César" class="photzin">
      </div>
      </div>
    </div>
  </div>
</div>

<app-what-i-do></app-what-i-do>
<app-portifolio></app-portifolio>
<app-contact></app-contact>

