.my-resume {
  border: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.skills,
.skills_1 {
  width: calc(50% - 10px);
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.skills:hover,
.skills_1:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.skills.active,
.skills_1.active {
  background-color: #0a0a3d;
  color: white;
}

.skills_1 {
  margin-top: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.text {
  color: white;
  text-decoration: none;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-size: 1.1em;
}

.data {
  color: skyblue;
  font-style: italic;
  background-color: #040838;
  border-radius: 25px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.universidade {
  color: skyblue;
  margin-bottom: 10px;
  display: flex;
  align-items: start;
  justify-content: left;
}

.description {
  line-height: 1.5;
  color: white;
  text-align: left;
  width: 100%;
}

@media (max-width: 768px) {
  .my-resume {
    flex-direction: column;
  }

  .skills,
  .skills_1 {
    width: 100%;
    margin-bottom: 10px;
  }

  .row {
    flex-direction: column;
    gap: 10px;
    padding: 0 15px;
  }

  .data {
    width: 80%;
    height: 30px;
    font-size: 11px;
  }

  .title {
    text-align: left;
    font-size: 15px;
    justify-content: left;
    display: flex;
    align-items: center;
  }
  .text{
    text-align: left;
  }
}
