<div class="row my-resume">
  <div class="row">
    <div class="skills">
      <div class="skill-header">
        <div class="title">Decola Tech 2025</div>
        <div class="data">jan/2025 - mar/2025</div>
      </div>
      <div class="universidade">DIO</div>
      <div class="description">
        <a href="https://hermes.dio.me/certificates/cover/WGGJMFHD.jpg" target="_blank" class="text"><p>I successfully completed the Decola Tech Avanade 2025 Bootcamp, where I enhanced my skills in Java, Spring, SQL, Angular, Artificial Intelligence, Maven, Gradle, and RESTful API development.</p></a>
      </div>
    </div>
    <div class="skills">
      <div class="skill-header">
        <div class="title">Claro - Java with Spring Boot</div>
        <div class="data">aug/2024 - sep/2024</div>
      </div>
      <div class="universidade">DIO</div>
      <div class="description">
        <a href="https://hermes.dio.me/certificates/cover/5TPCIRSH.jpg" target="_blank" class="text"><p>I completed the Claro Java with Spring Boot Bootcamp, where I gained solid knowledge in Java, Spring Framework, SQL, and NoSQL databases.</p></a>
      </div>
    </div>
    <div class="skills">
      <div class="skill-header">
        <div class="title">
          Bachelor's degree in Information Systems
          </div>
        <div class="data">jan/2023 - dez/2026</div>
      </div>
      <div class="universidade">UNINASSAU</div>
      <div class="description">
        <p>I'm currently pursuing a Bachelor's degree in Information Systems at UNINASSAU, where I'm deepening my knowledge in software development, databases, and technology-driven problem solving.</p>
      </div>
    </div>

    <div class="skills">
      <div class="skill-header">
        <div class="title">Master in Design</div>
        <div class="data">2004 - 2008</div>
      </div>
      <div class="universidade">University of London</div>
      <div class="description">
        <p>I am a website designer from Louisiana, strong web developer, seeking new experiences and learning from my design work.</p>
      </div>
    </div>
</div>
</div>
